
.clicked {
    color: #fff;
    background-color: #dabc0f;
}

.clicked-alt {
    color: #000;
    background-color: #5e17d7;
}

.button-container {
    margin-top: 10px;
}

.button-container button {
    margin-right: 5px;
    padding: 8px 16px;
    cursor: pointer;
}
